.inproject {
  width: auto !important;
  height: auto !important;
  color: #7b7f9d;
  font-size: 13px;
  text-decoration: none !important;
  margin: 0 20px 0 15px;
}

.hover {
  cursor: pointer;
}

.icon {
  padding-bottom: 14px;
  padding-left: 9px;
}